<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>App</title>
</head>
<body class="body_buscador">
  <header>
    <div class="menu">
      <div class="container container2">
        <div class="nav">
          <img src="../static/img/social-design-girls-name.png">
          <nav>
            <ul>
              <li><a href="/inicio"><span class="material-icons">home</span></a></li>
              <li><a href="/mensajes/Usu"><span class="material-icons">inbox</span></a></li>
              <li><a href="/buscar/Usu"><span class="material-icons">search</span></a></li>
              <li><a href="/configuracion"><span class="material-icons">settings</span></a></li>
              <li><a href="/perfil/usuario"><span class="material-icons">person_outline</span></a></li>
              <li><a href="/crearpublicacion"><span class="material-icons">add</span></a></li>
              <li><a href="/logout"><span class="material-icons">logout</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  <div class="contenedor head">
    <h1 class="titulo-buscar">Social Lampropeltis alterna</h1>
    <p class="text-buscar">
      Buscador de usuarios
    </p>
    <form>
      <input class="buscador__input" type="text" placeholder="Buscar...">
    </form>
  </div>
</header>
<div class="contenedor-img">
  <div class="imagen">
    <img src="/instagram2/instagram2/static/img/imagen_intro.jpg" alt="" />
    <div class="item">
    <div class="item__details">
      <p class="usuario-post">Usuario de ejemplo</p>
      <p class="date-post">Fecha de publicacion</p>
    </div>
  </div>
  </div>
  <div class="imagen">
    <img src="/instagram2/instagram2/static/img/imagen_intro.jpg" alt="" />
    <div class="item">
    <div class="item__details">
      <p class="usuario-post">Usuario de ejemplo</p>
      <p class="date-post">Fecha de publicacion</p>
    </div>
  </div>
  </div> <div class="imagen">
    <img src="/instagram2/instagram2/static/img/imagen_intro.jpg" alt="" />
    <div class="item">
    <div class="item__details">
      <p class="usuario-post">Usuario de ejemplo</p>
      <p class="date-post">Fecha de publicacion</p>
    </div>
  </div>
  </div> <div class="imagen">
    <img src="/instagram2/instagram2/static/img/imagen_intro.jpg" alt="" />
    <div class="item">
    <div class="item__details">
      <p class="usuario-post">Usuario de ejemplo</p>
      <p class="date-post">Fecha de publicacion</p>
    </div>
  </div>
  </div> <div class="imagen">
    <img src="/instagram2/instagram2/static/img/imagen_intro.jpg" alt="" />
    <div class="item">
    <div class="item__details">
      <p class="usuario-post">Usuario de ejemplo</p>
      <p class="date-post">Fecha de publicacion</p>
    </div>
  </div>
  </div> <div class="imagen">
    <img src="/instagram2/instagram2/static/img/imagen_intro.jpg" alt="" />
    <div class="item">
    <div class="item__details">
      <p class="usuario-post">Usuario de ejemplo</p>
      <p class="date-post">Fecha de publicacion</p>
    </div>
  </div>
  </div>
</body>
</html>