<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configuración</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/instagram2/instagram2/static/css/style.css">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="./styles/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf">
</head>
<body>
    <div class="menu">
        <div class="container container2">
          <div class="nav">
            <img src="../static/img/social-design-girls-name.png">
            <nav>
                <ul>
                  <li><a href="/inicio"><span class="material-icons">home</span></a></li>
                  <li><a href="/mensajes/Usu"><span class="material-icons">inbox</span></a></li>
                  <li><a href="/buscar/Usu"><span class="material-icons">search</span></a></li>
                  <li><a href="/configuracion"><span class="material-icons">settings</span></a></li>
                  <li><a href="/perfil/usuario"><span class="material-icons">person_outline</span></a></li>
                  <li><a href="/crearpublicacion"><span class="material-icons">add</span></a></li>
                  <li><a href="/logout"><span class="material-icons">logout</span></a></li>
                </ul>
              </nav>
          </div>
        </div>
      </div>

    <!-- editar perfil -->
    <div class="editar-perfil">
        <div class="ed">Editar Perfil
            <ul><form action="/configuracion/usuario" method="post" >
                <div>
                    <h3>Editar Perfil</h3>

                    <label for="">Nombre Usuario Anterior</label>
                    <input required type="text" id="tANomusu" name="tANomusu">
                    <br>
                    <label for="">Nombre Usuario Nuevo </label>
                    <input required type="text" id="tNNomusu" name="tNNomusu">
                </div>
                <div>

                    <label for="">Nombre </label>
                    <input required type="text" id="tNom" name="tNom">
               
                    <label for="">Correo</label>
                    <input required type="email" id="tcorreo" name="tcorreo">
                    <br>
                    <label for="">Telefono</label>
                    <input  required type="number" id="tnumero" name="tnumero">
                </div>

                <input type="submit" value="Editar">

            
                <br>
                <div>
                {% with messages= get_flashed_messages()%}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                
                </div>
                    
            </form></ul>
            </li>
            <!-- cambiar contraseña -->
    <div class="ed">
        <ul>
            <form action="/configuracion/contraseña" method="post">
                <h3>Cambiar Contraseña</h3>
                <div>
                    <label for="">Nombre Usuario  </label>
                    <input class="inputs" required type="text" id="tnomusu" name="tnomusu">
                    <br>
                    <label for="">Contraseña Anterior</label>
                    <input class="inputs" required type="password" id="tAcon" name="tAcon" >
                </div>
                <div>
                    <label for="">Contraseña Nueva</label>
                    <input class="inputs" required type="password" id="tNcon" name="tNcon">
                </div>
                <div>
                    <label for="">Confirmar Contraseña Nueva</label>
                    <input class="inputs" required type="password"  id="tNRcon" name="tNRcon" >
                </div>
                <input class="inputs" type="submit" value="Cambiar">
                <br>
                <div>
                {% with messages= get_flashed_messages()%}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                
                </div>
            </form>
        </ul>
    </div>
</body>