<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">Lampropeltis Alterna</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name">Inicio</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#about" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Usuario</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#ajustes" class="nav__link">
                <i class="bx bx-wrench nav__icon"></i>
                <span class="nav__name">Ajustes</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#buscar" class="nav__link">
                <i class="bx bx-search-alt nav__icon"></i>
                <span class="nav__name">Buscar</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#contactme" class="nav__link">
                <i class="bx bx-message-square-detail nav__icon"></i>
                <span class="nav__name">Mensajes</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    
  </body>
</html>
