<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css" />
  <title>Perfil</title>
</head>
<!--mwnu-->
<body>
    <div class="menu">
        <div class="container container2">
          <div class="nav">
            <img src="../static/img/social-design-girls-name.png">
            <nav>
              <ul>
                <li><a href="/inicio"><span class="material-icons">home</span></a></li>
                <li><a href="/mensajes/Usu"><span class="material-icons">inbox</span></a></li>
                <li><a href="/buscar/Usu"><span class="material-icons">search</span></a></li>
                <li><a href="/configuracion"><span class="material-icons">settings</span></a></li>
                <li><a href="/perfil/usuario"><span class="material-icons">person_outline</span></a></li>
                <li><a href="/crearpublicacion"><span class="material-icons">add</span></a></li>
                <li><a href="/logout"><span class="material-icons">logout</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    <div class="body-perfil">
    <div class="card-container">
      <img src="static/img/tortuga.jpg" alt="user" class="round">
      <h3>Mariska Hargitay</h3>
      <h6>Americana</h6>
      <p>Actriz y<br> Protagonista de la Ley y el Orden: UVE </p>
      <div class="skills">
          <h6>Etiquetas</h6>
          <ul>
              <li>Actriz</li>
              <li>Madre</li>
              <li><a href="/templates/Buscar.html">Empresaria</a></li>
          </ul>
      </div>
  </div>
  
  <div class="contenedor-img"> 
    <div class="imagen">
      <img src="instagramfinal/static/img/imagen_intro.jpg" alt="" />
      <div class="item">
      <div class="item__details">
        <p class="usuario-post">Usuario de ejemplo</p>
        <p class="date-post">Fecha de publicacion</p>
      </div>
    </div>
    </div> <div class="imagen">
      <img src="instagramfinal/static/img/loro.jpg" alt="" />
      <div class="item">
      <div class="item__details">
        <p class="usuario-post">Usuario de ejemplo</p>
        <p class="date-post">Fecha de publicacion</p>
      </div>
    </div>
    </div> <div class="imagen">
      <img src="instagramfinal/static/img/arbol1.jpg" alt="" />
      <div class="item">
      <div class="item__details">
        <p class="usuario-post">Usuario de ejemplo</p>
        <p class="date-post">Fecha de publicacion</p>
      </div>
    </div>
    </div> <div class="imagen">
      <img src="instagramfinal/static/img/corazon.jpg" alt="" />
      <div class="item">
      <div class="item__details">
        <p class="usuario-post">Usuario de ejemplo</p>
        <p class="date-post">Fecha de publicacion</p>
      </div>
    </div>
    </div>
</div></body>
</html>