<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=Register, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="container1">
    <div class="register">
      <div class="box">
        <p class="name1">Registro</p>
        <form method="post" action="/registrarse/usuario" >
          <input type="text" placeholder="Nombre Completo" id="txtnom" name="txtnom" required >
          <input type="email" placeholder="Ingrese su correo electrónico" id="txtcorreo" name="txtcorreo" required > 
          <input type="number" placeholder="Ingrese su número de teléfono"id="txtnum" name="txtnum"  required >
          <input type="text" placeholder="@Usuario"id="txtnomusu" name="txtnomusu"  required >
          <input type="password" placeholder="Contraseña"id="txtcon" name="txtcon" required >
          <button type="submit">Registrarte</button>
          {% with messages= get_flashed_messages()%}
          {% if messages %}
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </form>
      </div>
      <div class="box1">
        <p class="text-center mg0">¿Ya tienes una cuenta? <a href="/">Inicia Sesion</a></p>
      </div>
    </div>
  </div>
</body>
</html>